@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Antic Slab", serif;
  body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
        rgba(135, 60, 255, 0.4),
        rgba(135, 60, 255, 0) 80%
      ),
      linear-gradient(
        -45deg,
        rgba(120, 155, 255, 0.9) 25%,
        rgba(255, 160, 65, 0.9) 75%
      );

    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      text-align: center;
    }
  }
}
